@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');

:root {
  --color-one: #482D75;
  --color-two: #FFFFFF;
  --color-three: #985EF7;
  --background-gradient-login: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(72, 45, 117, 1) 35%, rgba(179, 0, 255, 1) 100%);
}

/* Styles General of page */
.login__container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: var(--background-gradient-login);
}

/* Styles of Title page */
.login__title-app {
  padding-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--color-two);
}

/* Login area container */
.login__acess {
  margin-left: auto;
  margin-right: auto;
}

/* Register Only */

/* Tabs */
.login__tabs {
  display: flex;
  width: 85%;
  justify-content: space-around;
}

.login__tabs a {
  text-decoration: none;
}

#tab-active,
#tab-disable {
  height: 2rem;
  padding-top: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#tab-active {
  width: 60%;
  color: #000;
  background-color: var(--color-two);
}

#tab-disable {
  width: 40%;
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 1.75rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-three);
}

#tab-disable:hover {
  color: #000;
}

/* Inputs */
.login__acess,
.login__input {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input {
  height: 40vh;
  background-color: var(--color-two);
  border-radius: 0 0 10px 10px;
  transition: .8s;
}

.register {
  height: 60vh;
}

.input-data {
  width: 90%;
  margin: 2rem;
}

.input-data p {
  font-weight: 400;
}

.input-data input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 0.6rem;
  background: rgba(0, 0, 0, 0.15);
}

/* Only Forgot */
#forgot-active {
  margin-top: 3.5rem;
  margin-bottom: 4.5rem;
}

/* Buttons Actions */
.input-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.input-actions a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
}

#btnAcess {
  width: 6rem;
  height: 2rem;
  text-align: center;
  background-color: var(--color-three);
  border-radius: 10px;
  transition: .5s;
}

#btnAcess:hover {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {

  .login__acess,
  .login__input,
  .login__tabs {
    max-width: 55%;
  }
}