.item-list-resume {
  width: 100%;
  margin: 0.15rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.item-list-resume p {
  width: 100%;
  text-align: center;
}