@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');

:root {
  --color-one: #482D75;
  --color-two: #FFFFFF;
  --color-three: #985EF7;
  --color-background: #EFEFEF;
}

.dashboard__container {
  width: 100%;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  display: none;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  min-height: 8rem;
  background-color: var;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Saldo */
.resume-saldo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.saldo-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-top: 0.7rem;
}

.saldo-info p {
  width: 60%;
}

.saldo-info h5 {
  font-weight: 400;
}

.saldo-info h4 {
  font-size: 1.3rem;
}

.saldo-saldo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.saldo-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


#activeColor {
  background-color: var(--color-three);
}